*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1em;
    font-family: "Trebuchet MS", sans-serif;
    background: #e6e6e6;
}

/*Layout*/
#cabecalho{
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
    
}
#logo, #menu{
    padding: 10px;
}
#principal{
    background: #fff;
    width: 920px;
    margin: 0 auto;
    padding: 15px;
   
}
#area-principal #area-lateral{
    background: #fff;
    
}
#area-postagens{
    width: 660px;
    float: left;
}
#area-lateral{
    width: 240px;
    float: right;
}

.postagem{
    padding: 20px;
    margin-bottom: 30px;
    background: white;

}
.conteudo-lateral{
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
}
.postagem-lateral{
    font-size: 0.8em;
    padding: 5px;
    
}
#rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
    
}

a{
    text-decoration: none;
}
/*Formatacao menu*/
a:link{

    color: #FFF;
    padding: 8px 12px;
}
a:hover{
    
    color:#f7b600;
    background: #FFF;
    cursor: pointer;
    padding: 8px 20px;
}
h1{
    color:#4e4e4e;
    font-size: 2.5em;
}

h2{
    color: #f7b600;
}
h3{
    color: #565656;
    background: #ccc;
    padding: 5px;
}

.branco{
    color: #fff;
}
.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}




